* {
    margin: 0;
    padding: 0;
}

/*头部*/
header {
    width: 100%;
    height: 76px;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;

    /*导航*/
    .typearea {
        width: 1000px;
        height: 100%;
        margin: 0px auto;

        .logo {
            padding-top: 13px;
            display: inline-block;

            a {
                list-style: none;

                img {
                    width: 132px;
                }
            }
        }

        nav {
            display: inline-block;
            padding: 28px 0px 0px 40px;
            width: 450px;
            height: 32px;

            ul {
                list-style: none;



                li {
                    float: left;
                    width: 40px;
                    height: 32px;
                    padding: 0px 25px;

                    a {
                        text-decoration: none;
                        color: #333;
                        font-size: 20px;
                    }

                    a:hover {
                        color: #fe5341;
                    }
                }

                li:nth-of-type(1) a {
                    color: #fe5341;
                }
            }
        }

        .register {
            float: right;
            display: block;
            width: 50px;
            height: 30px;
            border: 1px solid #fe5341;
            text-decoration: none;
            color: #fe5341;
            line-height: 30px;
            text-align: center;
            margin-top: 23px;
            border-radius: 3px;
            transition: all 0.15s linear;
        }

        .register:hover {
            background-color: #fe5341;
            color: white;
        }

        .search {
            background: url(../img/icon/search.png) 0px 0px no-repeat;
            float: right;
            transition: transform 0.08s ease;
            width: 42px;
            height: 40px;
            line-height: 999;
            overflow: hidden;
            margin-top: 28px;
            margin-right: 15px;
        }
    }
}

/*banner图+过度*/
.banner {
    width: 100%;
    height: 300px;
    background: url(../img/icon/original.jpg) no-repeat;
    position: relative;

    .huanxiang {
        height: 217px;
        padding-top: 35px;
        color: white;
        margin: 0px auto;
        text-align: right;
        position: absolute;
        right: 451px;
        animation: rotateIn 1s ease both;

        //动画
        @keyframes rotateIn {
            0% {
                transform: translate(800px, -800px);
            }
        }

        h2 {
            font-size: 34px;
            margin-bottom: 15px;
            font-weight: 400;
        }

        .p1 {
            span {
                display: inline-block;
                padding: 5px 10px;
                border-radius: 3px;
                font-size: 16px;
                margin-right: 10px;
                background: rgba(255, 255, 255, .3);
            }
        }

        .p2 {
            padding: 20px 0 16px 0;
            font-size: 18px;
        }

        .p3 {
            a {
                background: #fe5341;
                color: #fff;
                width: 242px;
                height: 48px;
                text-align: center;
                display: inline-block;
                line-height: 48px;
                font-size: 24px;
                border-radius: 3px;
                text-decoration: none;
            }
        }

    }
}

/*热门试用*/
.tryOut {
    width: 1000px;
    height: 381px;
    margin: 0px auto;

    /*分类标题*/
    .classifyTitle {
        font-size: 20px;
        padding: 18px 0px 16px 0px;
        font-weight: 600;
        color: #474747;
    }

    /*热门推荐-轮播图*/
    .swiper {
        width: 1000px;
        height: 295px;
        padding-bottom: 20px;

        .item {
            width: 220px;
            height: 288px;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            text-align: center;
            border: 1px solid #e6e9e9;
            float: left;
            margin-right: 37px;

            a {
                text-decoration: none;

                .shouFa {
                    width: 24px;
                    height: 22px;
                    padding: 0px 8px;
                    background-color: #fe5341;
                    color: #f5e8e8;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    line-height: 22px;
                    z-index: 10;
                    border-radius: 0 0 0 6px;
                    font-size: 12px;

                }



                img {
                    width: 220px;
                    height: 130px;
                }

                .txt1 {
                    width: 204px;
                    height: 113px;
                    padding: 8px 8px 14px 8px;

                    h2 {
                        color: #333;
                        font-size: 16px;
                    }

                    p:nth-of-type(1) {
                        padding: 6px 0px;

                        span {
                            display: inline-block;
                            color: #fe5341;
                            border: 1px solid #fe5341;
                            font-size: 12px;
                            padding: 2px 10px;
                            margin: 0px 5px;
                            border-radius: 3px;
                        }

                    }

                    p:nth-of-type(2) {
                        color: #333;
                        line-height: 28px;

                        .num {
                            color: #fe5341;
                        }
                    }

                    p:nth-of-type(3) {
                        color: #fe5341;
                        line-height: 20px;
                        font-size: 14px;
                    }

                }
            }
        }

        .item:nth-of-type(2) {
            a {
                .tiyanshi {
                    width: 66px;
                    height: 22px;
                    padding: 0px 8px;
                    background-color: #fbf4cb;
                    color: #c4a96a;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    line-height: 22px;
                    z-index: 10;
                    border-radius: 0 0 0 6px;
                    font-size: 12px;
                }

                .txt1 {
                    p:nth-of-type(1) {
                        .lv {
                            color: #80c269;
                            border: 1px solid #80c269;
                        }
                    }

                    .lv-1 {
                        color: #80c269;
                    }

                }
            }
        }

        .item:nth-of-type(4) {
            margin-right: 0px;
        }

    }
}

/*报告精选*/
.report {
    width: 100%;
    height: 592px;
    color: #474747;
    font-size: 14px;
    background-color: #F7F7F7;


    .centre {
        width: 1000px;
        height: 100%;
        margin: 0px auto;

        /*分类标题*/
        .classifyTitle {
            font-size: 20px;
            padding: 18px 0px 16px 0px;
            font-weight: 600;

            a {
                float: right;
                font-weight: 400;
                text-decoration: none;
                color: #fe5341;
                font-size: 14px;
                padding-right: 20px;
                background: url(../img/icon/readMore.png) 60px 4px no-repeat;
            }
        }

        /*内容*/
        .re-ul {
            width: 1000px;
            height: 506px;
            padding-bottom: 20px;
            list-style: none;
            color: #474747;

            .re-li {
                width: 220px;
                height: 231px;
                line-height: 21px;
                margin: 0 37px 20px 0;
                float: left;
                border: 1px solid #e6e9e9;
                border-radius: 6px;
                background-color: #fff;

                a {
                    text-decoration: none;
                    color: #474747;

                    img {
                        width: 220px;
                        height: 130px;
                    }

                    .re-dv {
                        width: 200px;
                        height: 93px;
                        padding: 7px 10px 10px 10px;

                        .re-sn {
                            width: 200px;
                            height: 22px;
                            padding: 13px 0px;
                            color: #a3a3a3;
                            font-size: 12px;

                            .box {
                                float: right;

                                .re-sp2 {
                                    padding-left: 14px;
                                    margin-left: 3px;
                                    background: url(../img/icon/zan.png) 0px 2px no-repeat;
                                }

                                .re-sp3 {
                                    padding-left: 14px;
                                    margin-left: 3px;
                                    background: url(../img/icon/reply.png) 0px 2px no-repeat;
                                }
                            }
                        }

                    }


                }

            }

            .re-li:nth-of-type(4),
            .re-li:nth-of-type(8) {
                margin-right: 0px;
            }

        }
    }
}

/*导购精选*/
.shoppingguide {
    width: 100%;
    height: 348px;
    color: #474747;
    font-size: 14px;

    .centre {
        width: 1000px;
        height: 100%;
        margin: 0px auto;

        /*分类标题*/
        .classifyTitle {
            font-size: 20px;
            padding: 18px 0px 16px 0px;
            font-weight: 600;

            a {
                float: right;
                font-weight: 400;
                text-decoration: none;
                color: #fe5341;
                font-size: 14px;
                padding-right: 20px;
                background: url(../img/icon/readMore.png) 60px 4px no-repeat;
            }
        }

        .se-ul {
            width: 100%;
            height: 262px;
            padding-bottom: 20px;
            list-style: none;

            .se-li {
                width: 220px;
                height: 225px;
                line-height: 21px;
                margin: 0 37px 35px 0;
                float: left;
                border: 1px solid #e6e9e9;
                border-radius: 6px;
                background-color: #fff;

                a {
                    text-decoration: none;
                    color: #474747;

                    img {
                        width: 220px;
                        height: 130px;
                    }

                    .se-dv {
                        width: 200px;
                        height: 93px;
                        padding: 7px 10px 10px 10px;
                        background: url(../img/icon/listbg.jpg) no-repeat left bottom;
                        background-size: 221px 19px;

                        .se-sn {
                            width: 200px;
                            height: 22px;
                            padding: 13px 0px;
                            color: #a3a3a3;
                            font-size: 12px;

                            .box {
                                float: right;

                                .se-sp2 {
                                    padding-left: 14px;
                                    margin-left: 3px;
                                    background: url(../img/icon/zan.png) 0px 2px no-repeat;
                                }

                                .se-sp3 {
                                    padding-left: 14px;
                                    margin-left: 3px;
                                    background: url(../img/icon/reply.png) 0px 2px no-repeat;
                                }
                            }
                        }

                    }


                }
            }

            .se-li:nth-of-type(4) {
                margin-right: 0px;
            }
        }
    }
}

/*发现酷玩*/
.Coldplay {
    width: 100%;
    height: 1183.5px;
    color: #474747;
    font-size: 14px;
    background-color: #F7F7F7;


    .centre {
        width: 1000px;
        height: 100%;
        margin: 0px auto;

        /*分类标题*/
        .classifyTitle {
            font-size: 20px;
            padding: 18px 0px 16px 0px;
            font-weight: 600;

            a {
                float: right;
                font-weight: 400;
                text-decoration: none;
                color: #fe5341;
                font-size: 14px;
                padding-right: 20px;
                background: url(../img/icon/readMore.png) 60px 4px no-repeat;
            }
        }

        /*内容*/
        .cy-ul {
            width: 1000px;
            height: 1012px;
            padding-bottom: 20px;
            list-style: none;
            color: #474747;

            .cy-li {
                width: 220px;
                height: 231px;
                line-height: 21px;
                margin: 0 37px 20px 0;
                float: left;
                border: 1px solid #e6e9e9;
                border-radius: 6px;
                background-color: #fff;

                a {
                    text-decoration: none;
                    color: #474747;

                    img {
                        width: 220px;
                        height: 130px;
                    }

                    .cy-dv {
                        width: 200px;
                        height: 93px;
                        padding: 7px 10px 10px 10px;

                        .cy-p {
                            .cy-sp4 {
                                color: #a3a3a3;
                                font-size: 12px;
                                display: block;
                            }
                        }

                        .cy-sn {
                            width: 200px;
                            height: 22px;
                            padding: 13px 0px;
                            color: #a3a3a3;
                            font-size: 12px;

                            .cy-sp1 {
                                color: #fe5341;
                            }

                            .box {
                                float: right;

                                .cy-sp2 {
                                    padding-left: 14px;
                                    margin-left: 3px;
                                    background: url(../img/icon/zan.png) 0px 2px no-repeat;
                                }

                                .cy-sp3 {
                                    padding-left: 14px;
                                    margin-left: 3px;
                                    background: url(../img/icon/reply.png) 0px 2px no-repeat;
                                }
                            }
                        }

                    }


                }

            }

            .cy-li:nth-of-type(4),
            .cy-li:nth-of-type(8),
            .cy-li:nth-of-type(12),
            .cy-li:nth-of-type(16) {
                margin-right: 0px;
            }

        }

        /*点击加载*/
        .load {
            width: 100%;
            height: 25.5px;
            padding-top: 10px;
            padding-bottom: 50px;
            text-align: center;


            .clic {
                color: #fe5341;
                font-size: 16px;
                text-decoration: none;
                padding-left: 24px;
                background: url(../img/icon/more.png) 0px 7px no-repeat;
            }

            .click {
                color: #fe5341;
                font-size: 16px;
                text-decoration: none;
                padding-left: 24px;
                background: url(../img/icon/loading-icon.gif) 0px 0px no-repeat;
            }
        }

    }
}