/*清除默认样式*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*头部*/
header {
  width: 100%;
  height: 76px;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
  /*导航*/
}
header .typearea {
  width: 1000px;
  height: 100%;
  margin: 0px auto;
}
header .typearea .logo {
  padding-top: 13px;
  display: inline-block;
}
header .typearea .logo a {
  list-style: none;
}
header .typearea .logo a img {
  width: 132px;
}
header .typearea nav {
  display: inline-block;
  padding: 28px 0px 0px 40px;
  width: 450px;
  height: 32px;
}
header .typearea nav ul {
  list-style: none;
}
header .typearea nav ul li {
  float: left;
  width: 40px;
  height: 32px;
  padding: 0px 25px;
}
header .typearea nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
header .typearea nav ul li a:hover {
  color: #fe5341;
}
header .typearea nav ul li:nth-of-type(1) a {
  color: #fe5341;
}
header .typearea .register {
  float: right;
  display: block;
  width: 50px;
  height: 30px;
  border: 1px solid #fe5341;
  text-decoration: none;
  color: #fe5341;
  line-height: 30px;
  text-align: center;
  margin-top: 23px;
  border-radius: 3px;
  transition: all 0.15s linear;
}
header .typearea .register:hover {
  background-color: #fe5341;
  color: white;
}
header .typearea .search {
  background: url(../img/icon/search.png) 0px 0px no-repeat;
  float: right;
  transition: transform 0.08s ease;
  width: 42px;
  height: 40px;
  line-height: 999;
  overflow: hidden;
  margin-top: 28px;
  margin-right: 15px;
}
/*banner*/
.top2 {
  width: 60%;
  height: 170px;
  margin: 0 auto;
}
.top2 h1 {
  padding: 30px 0;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
.top2 .top2button {
  width: 100%;
  text-align: center;
  position: relative;
}
.top2 .top2button .top2qq {
  width: 165px;
  height: 42px;
  color: grey;
  font-size: 18px;
  display: inline-block;
}
.top2 .top2button .one {
  color: red;
  border-bottom: 4px #fe5431 solid;
  padding-bottom: 8px;
}
/*下面*/
.top3 {
  width: 100%;
  height: 50px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.top3 .top3quanbu {
  width: 60%;
  height: 50px;
  margin: 0 auto;
}
.top3 .top3quanbu .af {
  text-align: center;
  width: 165px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 18px;
  color: grey;
}
.top3 .top3quanbu .one {
  color: black;
}
/*版心*/
.top4 {
  width: 100%;
  height: 1450px;
  padding-top: 25px;
  position: relative;
  background-color: #f7f7f7;
}
.top4 .top411 .top4one {
  width: 60%;
  height: 1030px;
  margin: 0 auto;
  overflow: hidden;
}
.top4 .top411 .top4one .top5one {
  width: 220px;
  height: 300px;
  float: left;
  margin: 20px 0;
  margin-right: 33px;
  background-color: #ffffff;
}
.top4 .top411 .top4one .top5one a {
  display: block;
  position: relative;
}
.top4 .top411 .top4one .top5one a .span1 {
  background-color: red;
  position: absolute;
  right: 0;
  padding: 4px 7px;
  color: white;
  font-size: 14px;
  border-radius: 0 6px 0 6px;
}
.top4 .top411 .top4one .top5one a .span1:nth-of-type(2) {
  background-color: #fbf4cb !important;
}
.top4 .top411 .top4one .top5one a img {
  width: 220px;
  height: 130px;
}
.top4 .top411 .top4one .top5one a .top5two {
  padding: 0 5px;
  width: 210px;
  height: 154px;
}
.top4 .top411 .top4one .top5one a .top5two .name {
  font-size: 16px;
  height: 48px;
  font-weight: bold;
  color: black;
  padding: 0 4px;
  text-align: center;
}
.top4 .top411 .top4one .top5one a .top5two .top5three {
  width: 210px;
  height: 15px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 5px;
}
.top4 .top411 .top4one .top5one a .top5two .top5three .span2 {
  display: inline-block;
  padding: 4px 7px;
  border: 1px solid grey;
  font-size: 14px;
  margin-right: 15px;
  color: gray;
  border-radius: 5px;
}
.top4 .top411 .top4one .top5one a .top5two .top5threecc {
  color: black;
}
.top4 .top411 .top4one .top5one a .top5two .top5threecc .span3 {
  color: red;
}
.top4 .top411 .top4one .top5one a .top5two .top5threerr {
  color: grey;
}
.top4 .top411 .top4one .top5one:nth-of-type(2) p:nth-of-type(3) {
  color: #00ff62;
}
.top4 .top411 .top4one .top5one:nth-of-type(6) p:nth-of-type(3) {
  color: #00ff62;
}
.top4 .top411 .top4one .top5one:nth-of-type(10) p:nth-of-type(3) {
  color: #00ff62;
}
.top4 .top411 .top4one .top5one:nth-of-type(13) p:nth-of-type(3) {
  color: #00ff62;
}
.top4 .top411 .top4one:nth-of-type(2) {
  display: none;
}
.top4 .top411 .top4one:nth-of-type(3) {
  height: 1380px;
  display: none;
}
.top4 .top411 .top4one:nth-of-type(4) {
  height: 1380px;
  display: none;
}
.top4 .top411 .top4xiamian {
  width: 80%;
  height: 80px;
  margin-top: 200px;
  margin: 0 auto;
}
.top4 .top411 .top4xiamian .top4xiamianone {
  background: url(../img/icon/more.png) no-repeat 595px center;
  display: block;
  text-align: center;
  line-height: 80px;
  color: red;
}
.top4 .rr {
  width: 60%;
  height: 1420px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: none;
}
.top4 .rr .yy {
  width: 220px;
  height: 310px;
  margin: 20px 33px 20px 0;
  float: left;
  background-color: #ffffff;
}
.top4 .rr .yy .a_ {
  display: block;
  position: relative;
}
.top4 .rr .yy .a_ .span11 {
  background-color: red;
  position: absolute;
  right: 0;
  padding: 4px 7px;
  color: grey;
  font-size: 14px;
  border-radius: 0 6px 0 6px;
}
.top4 .rr .yy .a_ .span11:nth-of-type(3) {
  background-color: #d1b518 !important;
}
.top4 .rr .yy .a_ img {
  width: 220px;
  height: 130px;
}
.top4 .rr .yy .a_ .top5twoo {
  padding: 0 5px;
  width: 210px;
  height: 154px;
}
.top4 .rr .yy .a_ .top5twoo .namee {
  font-size: 16px;
  height: 48px;
  font-weight: bold;
  color: black;
  padding: 0 4px;
  text-align: center;
}
.top4 .rr .yy .a_ .top5twoo .top5threee {
  width: 210px;
  height: 25px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.top4 .rr .yy .a_ .top5twoo .top5threee .span22 {
  display: inline-block;
  padding: 4px 7px;
  border: 1px solid grey;
  font-size: 14px;
  margin-right: 15px;
  color: gray;
  border-radius: 5px;
  text-align: center;
}
.top4 .rr .yy .a_ .top5twoo .top5threeccc {
  color: black;
  text-align: center;
  margin-bottom: 5px;
}
.top4 .rr .yy .a_ .top5twoo .top5threeccc .span33 {
  color: red;
}
.top4 .rr .yy .a_ .top5twoo .top5threerrr {
  color: grey;
  text-align: center;
}
.top4 .rr .yy:nth-of-type(2) {
  margin-right: 35px;
}
.top4 .rr .yy:nth-of-type(3) .span11 {
  background-color: #fbf4cb;
}
.top4 .rr .yy:nth-of-type(5) .span11 {
  background-color: #fbf4cb;
}
.top4 .rr .yy:nth-of-type(15) .span11 {
  background-color: #fbf4cb;
}
.top4 .rr .yy:nth-of-type(2) .span22 {
  border: 1px solid green;
}
/*底部*/
footer {
  width: 100%;
  height: 305.7px;
  padding: 40px 0px 15px 0px;
  background-color: #505050;
  color: #a3a3a3;
}
footer .box2 {
  width: 1000px;
  height: 100%;
  margin: 0px auto;
}
footer .box2 .text2 {
  width: 100%;
  height: 205px;
}
footer .box2 .text2 dl {
  float: left;
  font-size: 13px;
  padding-left: 22px;
  line-height: 20px;
}
footer .box2 .text2 dl dt {
  color: white;
  font-size: 16px;
  padding-bottom: 25px;
}
footer .box2 .text2 dl dd a {
  text-decoration: none;
  color: #a3a3a3;
}
footer .box2 .text2 dl:nth-of-type(1) {
  padding-left: 0px;
}
footer .box2 .text2 dl:nth-of-type(2) {
  width: 140px;
}
footer .box2 .text2 dl:nth-of-type(2) dd:nth-of-type(2) {
  margin-top: 13px;
}
footer .box2 .text2 dl:nth-of-type(3) {
  width: 100px;
}
footer .box2 .text2 dl:nth-of-type(4) {
  width: 140px;
}
footer .box2 .text2 dl:nth-of-type(4) dd a {
  width: 68px;
  display: inline-block;
}
footer .box2 .text2 dl:nth-of-type(5) {
  width: 148px;
}
footer .box2 .text2 dl:nth-of-type(6) {
  width: 180px;
}
footer .box2 .foot {
  height: 20.7px;
  padding-top: 80px;
  text-align: center;
  font-size: 13px;
}
/*回到顶部*/
.return {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  position: fixed;
  bottom: 50px;
  right: 350px;
  overflow: hidden;
}
.return a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../img/icon/back.png) no-repeat #e8e8e8 center center;
  transition: all 0.1s ease-in;
}
.return a:hover {
  background-color: #C6C6C6;
}
